button{
    background-color: rgb(2, 122, 2);
    color: white;
    height: 50px;
    width: 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid black;
    border-radius: 0.75rem;
    max-width: 100%;

}

